<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>
<script
    src="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.js"
></script>
<script
    src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"
></script>
<script src="https://unpkg.com/topojson@3"></script>
<script
    src="https://unpkg.com/leaflet.fullscreen@3.0.2/Control.FullScreen.js"
></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
