<div id="profile-header">
    <header>
        <div class="content">
            <a href="{{ url_for('user', login=user.login) }}">
                <img class="avatar" src="{{ user.avatar_url }}">
            </a>
            <h2 class="name">
                <a href="{{ url_for('user', login=user.login) }}">
                    {{ user | e }}
                </a>
            </h2>
        </div>
        <div class="stats">
            <table>
                <tr>
                    <td>Identifiant</td>
                    <td>{{ user.login }}</td>
                </tr>
                <tr>
                    <td>Membre depuis</td>
                    <td>{{ user.created_at | humanize }}</td>
                </tr>
                {% if user.last_seen %}
                <tr>
                    <td>Dernière visite</td>
                    <td>{{ user.last_seen | humanize }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Jeux</td>
                    <td>{{ user.get_games() | length }}</td>
                </tr>
                <tr>
                    <td>Position</td>
                    {% if user.map_point %}
                    <td>{{ user.map_point }}</td>
                    {% else %}
                    <td>Masquée</td>
                    {% endif %}
                </tr>
            </table>

            {% if current_user == user and request.endpoint != 'settings' %}
            <a href="{{ url_for('settings') }}" class="action small">
                <span class="material-icons">
                    settings
                </span>
                Changer mes paramètres
            </a>
            {% endif %}
        </div>
    </header>

    <footer>
        <div class="user-games limited">
            {% with games = user.get_games(fav_first=True) %}
            {% for game in games %}
            <div class="
                game
                {% if user.favorited(game.slug) %}
                favorited
                {% endif %}
            ">
                #{{ game.slug }}
                {% if user.favorited(game.slug) %}
                <span class="favorite-icon material-icons">star</span>
                {% endif %}
            </div>
            {% endfor %}
            {% if games | length > 10 %}
            <div class="show-more">
                <a data-action="expand">Voir plus ({{ games | length - 10 }})...</a>
                <a data-action="shrink" class="hidden">Voir moins...</a>
            </div>
            {% endif %}
            {% if current_user == user %}
            <a href="{{ url_for('games_picker') }}">
                <span class="material-icons">edit</span>
                Éditer
            </a>
            {% endif %}
            {% endwith %}
        </div>
    </footer>
</div>
