<div
    class="input"
    {% if id is not undefined %}
    id="{{ id }}"
    {% endif %}
>
    <label for="{{ input }}">
        {{ label }}
    </label>
    {{ form[input] }}
    {% include "components/forms/errors.html.j2" %}
</div>
