<div class="input">
    <div class="text-field password">
        {% if icon %}
        <label class="label-icon" for="{{ form[input].id }}">
            <span class="material-icons">{{ icon }}</span>
        </label>
        {% endif %}
        <div class="label-group">
            <label for="{{ form[input].id }}">{{ label }}</label>
            {{ form[input] }}
            {% with path="fa-eye.svg", class="show" %}
            {% include "components/icons/icon.html.j2" %}
            {% endwith %}
            {% with path="fa-eye-slash.svg", class="hide" %}
            {% include "components/icons/icon.html.j2" %}
            {% endwith %}
        </div>
    </div>
    {% include "components/forms/errors.html.j2" %}
</div>
