<div class="input">
    <div class="text-field">
        <div class="label-group">
            <label for="{{ form[input].id }}">
                {{ label }}
            </label>
            <textarea
                id="{{ form[input].id }}"
                {% if placeholder is not undefined %}
                placeholder="{{ placeholder }}"
                {% endif %}
            >{{ form[input].data or '' }}</textarea>
        </div>
    </div>
</div>
