alembic
arrow
BeautifulSoup4
black
cachelib
Flake8
Flake8-pyproject
Flask
Flask-APScheduler
Flask-Assets
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
furl
playwright
pydantic
pyhumps
pyScss
pyyaml
requests
ruamel.yaml
sqlalchemy
sssimp
unidecode
Wand
