{% extends "page.html.j2" %}

{% block style %}
<style>
#users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}

.user-card {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
}

a.user-card {
    color: inherit;
}

.user-card .avatar {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-right: 1em;
}

.user-card .infos {
    min-width: 0;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow-y: hidden;
    display: flex;
}

form {
    display: flex;
    column-gap: 2em;
    margin-bottom: 2em;
    align-items: center;
    flex-wrap: wrap;
}

form .input .text-field {
  padding: 0.25em;
}
.input .select-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
</style>

{% endblock style %}

{% block content %}
<h1>{{ title }}</h1>

<p>Résultats : {{ pager.items_total }}</p>

<form action="." method="get">
  {% with input='name', label='Nom' %}
  {% include "components/forms/input.html.j2" %}
  {% endwith %}

  {% with input='game', label='Jeu' %}
  {% include "components/forms/select.html.j2" %}
  {% endwith %}

  <button type="submit">Rechercher</button>
</form>

<div id="users">
  {% for user in pager %}
  <a class="user-card" href="{{ url_for('user', login=user.login)}}">
    <img src="{{ user.avatar_url }}" alt="{{ user }} avatar" class="avatar">
    <span class="infos">
        <span class="name">{{ user }}</span>
    </span>
  </a>
  {% endfor %}
</div>

{% include "components/pager.html.j2" %}
{% endblock content %}
