{% extends "page.html.j2" %}

{% block content %}

<h1>Mot de passe</h1>

{% if not current_user.password %}
    <p>
        Tu n'as actuellement pas de mot de passe. Tu peux donc t'authentifier
        par Discord uniquement.
    </p>
{% endif %}

<form method="post">
    {{ form.hidden_tag() }}

    {% with input='password' %}
    {% include "components/forms/password.html.j2" %}
    {% endwith %}

    <div id="actions">
        {% if current_user.password %}
        <div class="action">
            {% with
                input='delete',
                button_text='Supprimer mon mot de passe',
                class='alert'
            %}
            {% include "components/forms/submit.html.j2" %}
            {% endwith %}
        </div>
        {% endif %}

        <div class="action">
            {% with button_text='Sauvegarder' %}
            {% include "components/forms/submit.html.j2" %}
            {% endwith %}
        </div>
    </div>
</form>

<p>
    <a href="{{ url_for('settings') }}">Retour à mes paramètres</a>.
</p>

{% endblock content %}
