{% extends "page.html.j2" %}

{% block content %}
{% include "components/profile_header.html.j2" %}

<p>
    Membre depuis {{ user.created_at | humanize }}.
</p>

{% if user.last_seen %}
<p>
    Dernière visite {{ user.last_seen | humanize }}.
</p>
{% endif %}

{% if user.bio %}
<div class="separator">Description</div>
<p>
    {{ user.bio | e | markdown }}
</p>
{% endif %}

{% endblock content %}
