{% extends "page.html.j2" %}

{% block style %}
<style>
.games {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.games .badge {
    margin: 0;
}
.badge.favorited {
    background-color: var(--color-strong-yellow);
}
</style>
{% endblock style %}

{% block content %}
{% include "components/profile_header.html.j2" %}

<p>
    Membre depuis {{ user.created_at | humanize }}.
</p>

{% if user.last_seen %}
<p>
    Dernière visite {{ user.last_seen | humanize }}.
</p>
{% endif %}

<h2>Jeux</h2>
<div class="games">
    {% for game in user.get_games() %}
    <div class="
        badge
        {% if user.favorited(game.slug) %}
        favorited
        {% endif %}
    ">
        {{ game.data.name }}
    </div>
    {% endfor %}
</div>

{% if user.bio %}
<div class="separator">Description</div>
<div>
    {{ user.bio | e | markdown }}
</div>
{% endif %}

{% endblock content %}
