{% extends "page.html.j2" %}

{% block content %}
<h1>Je m'inscris</h1>

<p class="small">
    Déjà membre ?
    <a href="{{ url_for('login') }}">Connectes-toi</a>.
</p>

<p class="buttons">
    {% include "components/buttons/discord.html.j2" %}
</p>

<div class="separator">
    ou
</div>


<form method="post">
    {{ form.hidden_tag() }}

    {% with input='login', label='Identifiant', icon='person' %}
    {% include "components/forms/input.html.j2" %}
    {% endwith %}


    {% with input='password', label='Mot de passe', icon='lock' %}
    {% include "components/forms/password.html.j2" %}
    {% endwith %}


    {% with button_text='S\'inscrire' %}
    {% include "components/forms/submit.html.j2" %}
    {% endwith %}
</form>

{% endblock content %}
