{% extends "page.html.j2" %}

{% block content %}
    <h2>Motivation</h2>
    <p>
        Make Some Noise est une association dont les activités ont débuté fin
        2016, peu de temps après la fermeture de la salle de jeux parisienne
        "Arcade Street".
    </p>
    <p>
        En effet, la fermeture de cette salle a laissé un grand vide dans la
        scène des jeux vidéo musicaux dans la région, et c'est du désir de
        combler cela que l'association est née.
    </p>

    <div class="columns">
        <div class="column">
            <h2>Activités</h2>
            <p>
                Afin de promouvoir les jeux vidéo musicaux, l'association mène
                plusieurs actions, dont :
            </p>
            <ul>
                <li>
                    Mise à disposition de jeux vidéo musicaux lors d'événements, tels
                    que Japan Expo, Epitanime, et bien d'autres.
                </li>
                <li>
                    Relai d'informations et nouveautés sur les jeux à travers les
                    réseaux sociaux.
                </li>
                <li>
                    Organisation de rencontres entre joueurs, pour permettre à la
                    communauté de se rencontrer et de s'affronter, ainsi que d'initier
                    de nouveaux joueurs.
                </li>
                <li>
                    Mise à disposition d'<a href="{{ data.links.discord }}">un serveur
                    Discord</a> sur lequel les joueurs peuvent échanger et
                    s'entraider.
                </li>
            </ul>
        </div>
        <div class="column">
            <a href="https://asso-msn.fr/assets/pages/msn_coe.jpg" target="_blank">
                <img class="side-hero" src="https://asso-msn.fr/assets/pages/msn_coe.jpg">
            </a>
        </div>
    </div>

    <div class="gallery small">
        <a href="https://asso-msn.fr/assets/pages/epita_ddr.jpg" target="_blank">
            <img src="https://asso-msn.fr/assets/pages/epita_ddr.jpg">
        </a>
        <a href="https://asso-msn.fr/assets/pages/epita_taiko.jpg" target="_blank">
            <img src="https://asso-msn.fr/assets/pages/epita_taiko.jpg">
        </a>
        <a href="https://asso-msn.fr/assets/pages/epita_sdvx.jpg" target="_blank">
            <img src="https://asso-msn.fr/assets/pages/epita_sdvx.jpg">
        </a>
        <a href="https://asso-msn.fr/assets/pages/epita_bms.jpg" target="_blank">
            <img src="https://asso-msn.fr/assets/pages/epita_bms.jpg">
        </a>
    </div>

    <h2>Contact</h2>
    <p>
        Si vous souhaitez contacter l'association, nous recommandons l'échange
        par mail. Merci d'utiliser notre mailing list dédiée :
    </p>
    <ul>
        <li>
            <a href="mailto:contact@asso-msn.fr">contact@asso-msn.fr</a>
        </li>
    </ul>
    <p>
        Si vous souhaitez simplement nous rencontrer et en apprendre plus sur
        nous, nous vous invitons fortement à rejoindre et à vous familiariser
        avec notre Discord, ou nos différents réseaux sociaux :
    </p>
    <ul>
        <li>
            Discord: <a href="{{ data.links.discord }}">{{ data.links.discord }}</a>
        </li>
        <li>
            Instagram: <a href="{{ data.links.instagram }}">@{{ data.links.instagram_username }}</a>
        </li>
        <li>
            X: <a href="{{ data.links.x }}">@{{ data.links.x_username }}</a>
        </li>
    </ul>
{% endblock %}
