{% extends "page.html.j2" %}

{% block content %}

<h1>
    Je lie mon compte Discord
</h1>

<p>
    En associant mon Discord, je pourrai :
</p>

<ul>
    <li>Synchroniser mon avatar Discord au site MSN.</li>
    <li>Me connecter via Discord au lieu d'un identifiant et mot de passe.</li>
</ul>

<p>
    Aucune modification ne sera apportée à votre compte MSN automatiquement.
</p>

<p class="actions">
    {% with button_text='Connecter mon Discord' %}
    {% include "components/buttons/discord.html.j2" %}
    {% endwith %}
</p>

<p class="small">
    Je ne souhaite pas lier mon Discord :
    <a href="{{ url_for('settings')}}">retour à mes paramètres</a>.
</p>
{% endblock content %}
