{% extends "page.html.j2" %}

{% block content %}
<h1>Je me connecte</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="input">
        <label for="{{ form.login.id }}">Identifiant</label>
        {{ form.login }}
        {{ form.login.errors }}
    </div>
    <div class="input">
        <label for="{{ form.password.id }}">Mot de passe</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit">Se connecter</button>
</form>

<p>
    <a href="{{ url_for('discord_login')}}" class="button discord">
        Se connecter avec Discord
    </a>
</p>

<p>
    Pas encore de compte ?
    <a href="{{ url_for('register') }}">Inscris-toi</a>.
</p>
{% endblock content %}
