{% extends "page.html.j2" %}

{% block content %}
<div id="profile-header">
    <img class="avatar" src="{{ current_user.avatar_url }}">
    <h2>{{ current_user }}</h2>
</div>

<h1>Paramètres</h1>

<form method="post" id="profile-settings" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="columns" id="profile-settings-sections">
        <div class="column">
            <h2>Mon profil</h2>

            {% with input='display_name', label='Nom d\'affichage' %}
            {% include "components/forms/input.html.j2" %}
            {% endwith %}

            {% with input='image_type', label='Service d\'avatar '%}
            {% include "components/forms/select.html.j2" %}
            {% endwith %}

            {% with input='image', label='Avatar', id='image-input' %}
            {% include "components/forms/file.html.j2" %}
            {% endwith %}

            {% with input='bio', label='Description', placeholder='Parle de qui tu es ici...' %}
            {% include "components/forms/textarea.html.j2" %}
            {% endwith %}
        </div>
        <div class="column">
            <h2>Mon compte</h2>

            {% with input='login', label='Identifiant' %}
            {% include "components/forms/input.html.j2" %}
            {% endwith %}

            {% with input='email', label='Email' %}
            {% include "components/forms/input.html.j2" %}
            {% endwith %}

            {% with input='password', label='Mot de passe' %}
            {% include "components/forms/input.html.j2" %}
            {% endwith %}

            <p>
                Lié à Discord :
                {% if current_user.discord_id %}
                <span class="badge good">Oui</span>
                {% else %}
                <span class="badge">Non</span>
                {% endif %}
            </p>
        </div>
    </div>

    {% with button_text='Sauvegarder' %}
    {% include "components/forms/submit.html.j2" %}
    {% endwith %}
</form>

<hr>

<form method="post">
    {{ logout.hidden_tag() }}
    {% with form=logout, input='submit', button_text='Se déconnecter', type='alert' %}
    {% include "components/forms/submit.html.j2" %}
    {% endwith %}
</form>
{% endblock content %}

{% block scripts %}
<script>
    const image_type = document.getElementById('image_type');
    const uploader = document.getElementById('image-input');

    function updateUploaderDisplay() {
        if (image_type.value != 'local') {
            uploader.style.display = 'none';
        } else {
            uploader.style.display = 'block';
        }
    }
    image_type.addEventListener('change', updateUploaderDisplay);
    updateUploaderDisplay();
</script>
{% endblock %}
