:root {
    --color-black: #333333;
    --color-blue: #0056A5;
    --color-dark-blue: #003566;
    --color-dark-purple: #BEB8DC;
    --color-gray: #4D4D4D;
    --color-light-gray: #b2b2b2;
    --color-green: #C2E0B2;
    --color-light-blue: #C8E4F0;
    --color-orange: #FBDCB9;
    --color-purple: #DFBED6;
    --color-red: #FBB9B9;
    --color-white: #ffffff;
    --color-yellow: #FFF8B8;

    --color-discord: #7289da;

    --font-main: 'Poppins', sans-serif;
    --font-logo: 'Bungee', sans-serif;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --font-size-medium: 500;
    --size-page-width: 1200px;

    --event-meetup-color: var(--color-red);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--color-white);
    color: var(--color-black);
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

a, a:visited {
    color: var(--color-blue);
}

code {
    white-space: preserve-breaks;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.emoji {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.logo {
    width: 2em;
    height: 2em;
    margin: 0 .5em;
}

.logo-text {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    font-family: var(--font-logo);
}

.separator::before, .separator::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: var(--color-light-gray);
    margin: 5px;
}

.separator {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.material-icons {
    max-width: 1em;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    top: 0.2em;
}


.badge, .button, button {
    padding: .25em 1em;
    border-radius: 2.5em;
    background: var(--color-white);
    color: var(--color-black);
}

.button, button {
    border: 1px solid var(--color-gray);
    cursor: pointer;
    padding: 0.5em 1.5em;
}

.button .emoji {
    position: relative;
    top: -0.05em;
    margin-right: 0.5em;
}

a.button, .button {
    color: var(--color-gray);
}

.button.discord {
    /* border-color: var(--color-discord);
    color: var(--color-discord); */
    background: var(--color-discord);
    color: var(--color-white);
    border: none;
}

.badge {
    font-size: .8em;
    margin: 1em 0;
}

.badge.event {
    color: var(--color-black);
}

.badge.event-meetup {
    background: var(--event-meetup-color);
}

.badge.event-convention {
    background: var(--event-meetup-color);
}

.badge.event-nightly {
    background: var(--color-dark-purple);
}

.card {
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px var(--color-shadow);
    padding: 1em;
    margin: 1em;
}

.card .hero {
    margin: -1em;
    width: calc(100% + 2em);
    height: 200px;
    filter: brightness(0.8);
    object-fit: cover;
    z-index: -1;
    padding-bottom: 1em;
}

.card .relative-time {
    z-index: 1;
    position: absolute;
    left: 1em;
    top: 1em;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns > * {
    flex: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > * {
    flex: 1;
}

.gallery img {
    width: 100%;
    margin: 1em 0;
}

.gallery.small img {
    max-height: 300px;
}

.page {
    max-width: var(--size-page-width);
    margin: 0 auto;
    padding: 1em;
    overflow-x: hidden;
}

.page .small {
    font-size: 0.9em;
}

.page .buttons {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.pager {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    font-size: 1.25em;
}

.pager > * {
    margin: 0 .3em;
}

.pager .current {
    font-weight: bold;
    color: var(--color-black);
}

.pager .disabled {
    color: var(--color-gray);
}

.side-hero {
    box-shadow: 0 4px 4px var(--color-shadow);
    transform: rotate(5deg) skew(-5deg);
    margin: 30px 40px;
    position: relative;
    top: 20px;
}

#navbar {
    padding: .5rem 2rem;
    box-shadow: 0 4px 4px var(--color-shadow);
    position: sticky;
    top: 0;
    background: var(--color-white);
    z-index: 100;
}

#navbar a,
#footer a {
    color: inherit;
}

#navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--size-page-width);
    margin: 0 auto;
}

#navbar .items {
    list-style: none;
    display: flex;
}

#navbar .items li {
    margin: 0 .5em;
}

#navbar .login {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.2em;
    padding: 0.2em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    position: relative;
    top: -0.2em;
}


#footer {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    margin-top: 2em;
    padding: 2em;
    position: relative;
    overflow: hidden;
}

#footer .bar {
    position: absolute;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    background: var(--color-white);
    transform: rotate(-50deg);
}

#footer .bar:nth-child(1) {
    top: 50%;
    left: -200px;
}

#footer .bar:nth-child(2) {
    top: calc(50% + 68px);
    left: -200px;
}

#footer .bar:nth-child(3) {
    top: 50%;
    right: -200px;
}

#footer .bar:nth-child(4) {
    top: calc(50% - 68px);
    right: -200px;
}

#footer .logo-text {
    font-size: 1.5em;
    font-family: var(--font-logo);
    margin: 1em 0;
}

#footer .logo {
    font-size: 1.5em;
}

#footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .nav {
    display: flex;
    margin: 2em 0;
    width: 100%;
    justify-content: space-evenly;
}

#footer .title {
    font-weight: bold;
}

#footer .socials {
    font-size: 2em;
    margin: 1em 0;
}

#footer .socials > * {
    margin: 0 .25em;
}

#copyright {
    text-align: center;
}

#copyright a {
    color: inherit;
}
