.game-platforms {
    display: flex;
    align-items: center;
    gap: 6px;
}

.game-platform {
    border-radius: 5px;
    padding: 0.2em 0.5em;
    color: black;
    font-size: 0.8em;
}

.game-platform.arcade {
    background: var(--color-red);
}

.game-platform.console {
    background: var(--color-green);
}

.game-platform.pc {
    background: var(--color-light-blue);
}

.game-platform.mobile {
    background: var(--color-yellow);
}

.game-platform.vr {
    background: var(--color-gray);
    color: white;
}
