.page-link {
    max-width: 700px;
    margin: 0 auto;
}

.page-link .actions {
    margin-top: 2em;
}


.page-link #discord-profile {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.page-link #discord-profile .avatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 1em;
}

.page-link #discord-profile .name {
    font-size: 1.1em;
}
