@media screen and (max-width: 1096px) {
    .page-users-settings #actions {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    #navbar .logo-text {
        font-size: 1.25em;
    }

    #navbar-full {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 800px) {
    #navbar .logo-text {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 700px) {
    #navbar-small {
        display: initial;
    }

    #navbar-full {
        display: none;
    }

    .card {
        padding: 0.5em;
        margin: 0.5em;
    }

    .card .hero {
        margin: -0.5em;
        width: calc(100% + 1em);
    }

    .columns {
        flex-direction: column;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery.small img {
        max-height: 200px;
    }

    .side-hero {
        width: 80%;
        margin: 20px auto;
        left: 40px;
    }

    #footer .bars {
        display: none;
    }

    #events .content {
        flex-direction: column;
    }

    #events .date {
        align-items: flex-start;
    }

    #events .day-month {
        flex-direction: row;
        align-items: baseline;
    }

    #events .day-number {
        margin-right: 0.33em;
    }

    #events .day-name,
    #events .hours {
        font-size: 1.25em;
    }

    #events .hours {
        margin-bottom: 1.5em;
    }

    #footer .nav {
        flex-direction: column;
        gap: 2em;
    }

    .page-users-settings #actions {
        display: flex;
        flex-direction: row;
    }

    #profile-header header {
        flex-direction: column;
        align-items: start;
        gap: 1em;
    }

    #profile-header img {
        width: 96px;
        height: 96px;
    }
}

@media screen and (max-width: 500px) {
    .page-users-settings #actions {
        display: flex;
        flex-direction: column;
    }
}
