#profile-settings-sections > .column {
    margin: 0 1em;
}

#profile-settings [type="submit"] {
    min-width: 40%;
    margin: 1em auto;
    display: inherit;
}

#profile-settings #bio {
    height: 20em;
}

#profile-header {
    display: flex;
    align-items: start;
}

#profile-header img {
    width: 128px;
    height: 128px;
    border-radius: 12px;
    margin-right: 1em;
}

.page-user-settings #actions {
    margin-top: 3em;
}

.page-user-settings #actions .action {
    display: inline-block;
    margin: 0 1em;
}
