<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% set title = title or request.endpoint | title | replace('_', ' ') %}
        {{ title }} - Make Some Noise
        {% endblock %}
    </title>

    <meta property="og:site_name" content="Make Some Noise">
    <meta property="og:title" content="{{ title }}">
    {% if embed_description %}
    <meta property="og:description" content="{{ embed_description }}">
    {% endif %}
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:image" content="{{ embed_image or url_for('static', _external=True, filename='logo-border.png') }}">

    <link rel="icon" href="{{ url_for('static', filename='logo-black.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" />
    {% assets "css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <script>0</script>
    <nav id="navbar">
        <div class="content">
            <a class="logo-text" href="{{ url_for('index') }}">
                <img class="logo" src="{{ url_for('static', filename='logo-black.svg') }}">
                <span class="text">Make Some Noise</span>
            </a>
            <div id="navbar-full">
                {% for entry in hier %}
                <section>
                    {% if entry.url %}
                    <a class="title" href="{{ entry.url }}">{{ entry }}</a>
                    {% else %}
                    <div class="title">{{ entry }}</div>
                    {% endif %}
                    {% if entry.children %}
                    <span class="material-icons dropdown-toggle">arrow_drop_down</span>
                    <div class="dropdown">
                        {% for child in entry.children %}
                        <a href="{{ child.url }}">{{ child }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </section>
                {% endfor %}
                <section class="user-section">
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('login') }}" class="login">
                        {% include "components/icons/user_black.html.j2" %}
                    </a>
                    {% else %}
                    <img src="{{ current_user.avatar_url }}" class="avatar">
                    <span class="material-icons dropdown-toggle">arrow_drop_down</span>
                    <div class="dropdown">
                        <a href="{{ url_for('user', login=current_user.login )}}" class="user">
                            {{ current_user }}
                        </a>
                        <a href="{{ url_for('settings')}}">
                            <span class="material-icons">settings</span>
                            Paramètres
                        </a>
                    </div>
                    {% endif %}
                </section>
            </div>
            <div id="navbar-small">
                <button id="navbar-toggle" class="material-icons">menu</button>
            </div>
        </div>
    </nav>

    <div id="navbar-pane">
        {% for entry in hier %}
        <section>
            {% if entry.url %}
            <a class="title" href="{{ entry.url }}">{{ entry }}</a>
            {% else %}
            <div class="title">{{ entry }}</div>
            {% endif %}
            {% for child in entry.children %}
            <a href="{{ child.url }}">{{ child }}</a>
            {% endfor %}
        </section>
        {% endfor %}
        <section>
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login')}}">Connexion</a>
            <a href="{{ url_for('register')}}">Inscription</a>
            {% else %}
            <div class="title">Mon profil</div>
            <a href="{{ url_for('user', login=current_user.login )}}" class="user">
                {{ current_user }}
                <img src="{{ current_user.avatar_url }}" class="avatar">
            </a>
            <a href="{{ url_for('settings')}}">
                <span class="material-icons">settings</span>
                Paramètres
            </a>
            {% endif %}
        </section>
    </div>

    <div id="navbar-overlay"></div>


    <div id="flashes">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="flash {{ category }}">
            <span class="content">
                {{ message | e }}
            </span>
            <span class="flash-close">
                <span class="material-icons icon">close</span>
            </span>
        </div>
        {% endfor %}
        {% if current_user.is_authenticated and current_user.discord_id and (
            not current_user.discord_access_token or
            not current_user.discord_refresh_token
        )%}
        <div class="flash warning">
            <span class="content">
                Ta connexion à Discord a expiré de manière inattendue.
                <a href="{{ url_for('discord_login') }}">Reconnecte-toi via Discord</a>
                ou <a href="{{ url_for('settings') }}">dissocie ton compte Discord du site</a>.
            </span>
            <span class="flash-close">
                <span class="material-icons icon">close</span>
            </span>
        </div>
        {% endif %}
    </div>

{% block body %}{% endblock %}

    <footer id="footer">
        <div class="bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="content">
            <a class="logo-text" href="{{ url_for('index') }}">
                <img class="logo" src="{{ url_for('static', filename='logo-white.svg') }}">
                <span class="text">Make Some Noise</span>
            </a>
            <nav class="nav page">
                {% for entry in hier %}
                <section>
                    {% if entry.url %}
                    <a class="title" href="{{ entry.url }}">{{ entry }}</a>
                    {% else %}
                    <div class="title">{{ entry }}</div>
                    {% endif %}
                    {% for child in entry.children %}
                    <a href="{{ child.url }}">{{ child }}</a>
                    {% endfor %}
                </section>
                {% endfor %}
            </nav>
            <div class="socials">
                <a href="{{ data.links.discord }}">
                    {% include "components/icons/discord_white.html.j2" %}
                </a>
                <a href="{{ data.links.github }}">
                    {% include "components/icons/github_white.html.j2" %}
                </a>
                <a href="{{ data.links.instagram }}">
                    {% include "components/icons/instagram_white.html.j2" %}
                </a>
                <a href="{{ data.links.x }}">
                    {% include "components/icons/x_white.html.j2" %}
                </a>
            </div>
        </div>
    </footer>

    <p id="copyright">
        <a href="https://github.com/asso-msn/msn-web/blob/main/LICENSE">MIT Licensed</a>
        -
        MAKE SOME NOISE
    </p>

    {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
