{% extends "page.html.j2" %}

{% block content %}
        <div id="events">
            {% if past_events_pager.pages_current == 1 %}
            <h2>Les prochains évènements</h2>
            <div class="future-events">
                {% for event in future_events %}
                {% include "components/event_card.html.j2" %}
                {% endfor %}
                {% if not future_events %}
                <p>
                    Aucun évènement n'est prévu pour le moment.
                </p>
                {% endif %}
            </div>
            {% endif %}

            <h2>Les évènements passés</h2>
            <div class="past-events">
                {% for event in past_events_pager %}
                {% include "components/event_card.html.j2" %}
                {% endfor %}
            </div>
            {% with pager=past_events_pager %}
            {% include "components/pager.html.j2" %}
            {% endwith %}
        </div>
{% endblock %}
