{% extends "page.html.j2" %}

{% block content %}
        {% if app.debug %}
        <code>
        {{ events | e }}
        </code>
        {% endif %}

        <h1>Les prochains évènements</h1>
        <div id="events">
            {% for event in events %}
            <div class="event card">
                {% if event.date %}
                <div class="relative-time badge">{{ event.relative_time }}</div>
                {% endif %}

                <img class="hero" src="{{ event.hero }}">

                <div class="content">
                    <div class="date">
                        <span class="day-name">{{ event.day_name }}</span>
                        <span class="day-number">{{ event.day_number }}</span>
                        <span class="month">{{ event.month }}</span>
                        <span class="hours">{{ event.time_range }}</span>
                    </div>

                    <div class="details">
                        <div class="games">
                            {% for game in event.games %}
                            <span class="game">#{{ game }}</span>
                            {% endfor %}
                        </div>
                        <div class="type">
                            <span class="badge event event-{{ event.type }}">{{ event.type }}</span>
                            {% if event.nightly %}
                            <span class="badge event event-nightly">nocturne</span>
                            {% endif %}
                        </div>
                        <span class="name">{{ event.name }}</span>
                        <p class="description">
                            {{ event.description }}
                        </p>
                        <p class="location">
                            <a href="https://www.google.com/maps/search/{{ event.location | urlencode }}/" target="_blank">
                                <span class="material-icons">place</span>
                                {{ event.location }}
                            </a>
                        </p>
                        <div class="actions">
                            {% for name, url in event.links.items() %}
                                <a href="{{ url }}">{{ name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
